feishu.json
{"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-416,-80],"id":"9d7cfc7b-0024-4429-8dce-de3fa1b26a6b","name":"When clicking ‘Execute workflow’"},{"parameters":{"content":"## 多维表格案例\nhttps://fcnqopx0ag6g.feishu.cn/wiki/Rk1zwCGVfiLtA3kCachctbP5nDg?table=tblpGxqhn5BO62xz&view=vewYdM93ZT","height":464,"width":1216},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-480,-176],"id":"5516e8b5-d847-423d-8a89-607264614e5a","name":"Sticky Note"},{"parameters":{"resource":"bitable","operation":"bitable:parseUrl","url":"https://fcnqopx0ag6g.feishu.cn/wiki/Rk1zwCGVfiLtA3kCachctbP5nDg?table=tblpGxqhn5BO62xz&view=vewYdM93ZT"},"type":"CUSTOM.feishuNode","typeVersion":1,"position":[-160,-80],"id":"12a938d8-bb43-4527-8804-951d9ef3fcd4","name":"解析多维表格地址","credentials":{"feishuCredentialsApi":{"id":"A4fAXv0HVBTUPQ0t","name":"Feishu Credentials account"}}},{"parameters":{"resource":"bitable","operation":"bitable:table:record:delete","app_toke":"={{ $('解析多维表格地址').item.json.app_token }}","table_id":"={{ $('解析多维表格地址').item.json.table_id }}","record_id":"={{ $json.data.record.record_id }}"},"type":"CUSTOM.feishuNode","typeVersion":1,"position":[416,-80],"id":"5b07b57b-9935-4948-85b7-97be9b3a2bcb","name":"删除记录","credentials":{"feishuCredentialsApi":{"id":"A4fAXv0HVBTUPQ0t","name":"Feishu Credentials account"}}},{"parameters":{"resource":"bitable","operation":"bitable:table:record:add","app_toke":"={{ $json.app_token }}","table_id":"={{ $json.table_id }}","body":"{\"fields\":{\n  \"名称\": \"测试\"\n}}"},"type":"CUSTOM.feishuNode","typeVersion":1,"position":[112,-80],"id":"2a9a5ad0-cfb7-4a32-a29f-865ae68f7d17","name":"新增记录","credentials":{"feishuCredentialsApi":{"id":"A4fAXv0HVBTUPQ0t","name":"Feishu Credentials account"}}},{"parameters":{"content":"## 电子表格\n正常地址：https://sample.feishu.cn/sheets/Iow7sNNEphp3WbtnbCscPqabcef,  电子表格 Token: Iow7sNNEphp3WbtnbCscPqabcef \n对于知识库中的电子表格，你需调用获取知识空间节点信息接口来获取电子表格的 obj_token\nhttps://fcnqopx0ag6g.feishu.cn/wiki/G1DtwKCE7iV3mrk6ThocuO5PnEh, 知识空间 token: G1DtwKCE7iV3mrk6ThocuO5PnEh ","height":432,"width":1216},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-480,320],"id":"1a99e5a4-91ee-49e4-9c18-87ba6b060838","name":"Sticky Note1"},{"parameters":{"resource":"wiki_spaces","operation":"wiki:spaces:node:info","token":"G1DtwKCE7iV3mrk6ThocuO5PnEh"},"type":"CUSTOM.feishuNode","typeVersion":1,"position":[-160,464],"id":"130eefeb-b7d1-4e03-a049-c057afcea1d8","name":"获取知识空间节点信息","credentials":{"feishuCredentialsApi":{"id":"A4fAXv0HVBTUPQ0t","name":"Feishu Credentials account"}}},{"parameters":{"resource":"spreadsheet","operation":"spreadsheet:getInfo","spreadsheet_toke":"={{ $json.data.node.obj_token }}"},"type":"CUSTOM.feishuNode","typeVersion":1,"position":[16,464],"id":"2d13d142-483a-4b7d-ae96-288e3089bc62","name":"获取电子表格信息","credentials":{"feishuCredentialsApi":{"id":"A4fAXv0HVBTUPQ0t","name":"Feishu Credentials account"}}},{"parameters":{"resource":"spreadsheet","operation":"spreadsheet:getSheets","spreadsheetToke":"={{ $json.data.spreadsheet.token }}"},"type":"CUSTOM.feishuNode","typeVersion":1,"position":[192,464],"id":"a7c51add-91c9-4b76-b872-2eb070852f31","name":"获取工作表","credentials":{"feishuCredentialsApi":{"id":"A4fAXv0HVBTUPQ0t","name":"Feishu Credentials account"}}},{"parameters":{"resource":"spreadsheet","operation":"spreadsheet:valuesRead","spreadsheetToke":"={{ $json.data.spreadsheetToken }}","range":"={{ $json.data.updatedRange }}"},"type":"CUSTOM.feishuNode","typeVersion":1,"position":[512,464],"id":"bc344ecf-6897-4897-8932-27cd805a32a8","name":"读取数据","credentials":{"feishuCredentialsApi":{"id":"A4fAXv0HVBTUPQ0t","name":"Feishu Credentials account"}}},{"parameters":{"resource":"spreadsheet","operation":"spreadsheet:valuesAutoWrite","spreadsheetToke":"={{ $('获取电子表格信息').item.json.data.spreadsheet.token }}","sheetId":"={{ $json.data.sheets[0].sheet_id }}","values":"[\n    [\n        \"表头1\",\n        \"表头2\"\n    ],\n    [\n        \"数据1\",\n        1\n    ],\n    [\n        \"World\",\n        1\n    ]\n]"},"type":"CUSTOM.feishuNode","typeVersion":1,"position":[352,464],"id":"67495778-0960-4447-aaab-b62f184a5a2d","name":"简易写入数据","credentials":{"feishuCredentialsApi":{"id":"A4fAXv0HVBTUPQ0t","name":"Feishu Credentials account"}}},{"parameters":{"content":"## 错误code查询\nhttps://open.feishu.cn/search\n## 权限注意\n使用应用token需要在文档里面把应用添加进去，右上角···->更多->添加文档应用->搜索你创建的应用","height":144,"width":1232},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-480,-336],"id":"2ed51265-a157-4fcc-9d67-c080072c61c4","name":"Sticky Note2","disabled":true},{"parameters":{"resource":"spreadsheet","operation":"spreadsheet:valuesWrite","spreadsheetToke":"={{ $('获取电子表格信息').item.json.data.spreadsheet.token }}","range":"={{ $json.data.sheets[0].sheet_id }}!A4:B5","values":"[\n  [\n        \"第四行1\",\n        \"第四行2\"\n    ],\n   [\n        \"第五行1\",\n        \"第五行2\"\n    ]\n]"},"type":"CUSTOM.feishuNode","typeVersion":1,"position":[352,608],"id":"98de9abc-8797-47d3-be95-646106344295","name":"写入数据","credentials":{"feishuCredentialsApi":{"id":"A4fAXv0HVBTUPQ0t","name":"Feishu Credentials account"}}},{"parameters":{"content":"## 授权请求","height":208,"width":1216},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-480,768],"id":"d25cd6a5-74eb-4bb1-a251-1bb3197a908f","name":"Sticky Note3"},{"parameters":{"url":"https://open.feishu.cn/open-apis/bot/v3/info","authentication":"predefinedCredentialType","nodeCredentialType":"feishuCredentialsApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,800],"id":"4a8e14be-927d-4ae6-bccc-f49ca2b39688","name":"测试授权","credentials":{"feishuCredentialsApi":{"id":"A4fAXv0HVBTUPQ0t","name":"Feishu Credentials account"}}},{"parameters":{"resource":"bitable","operation":"bitable:parseUrl","url":"https://fcnqopx0ag6g.feishu.cn/wiki/Rk1zwCGVfiLtA3kCachctbP5nDg?table=tblpGxqhn5BO62xz&view=vewYdM93ZT"},"type":"CUSTOM.feishuNode","typeVersion":1,"position":[-160,112],"id":"8956ab91-4f1c-4f29-a890-577a465c6e9f","name":"解析多维表格地址1","credentials":{"feishuCredentialsApi":{"id":"A4fAXv0HVBTUPQ0t","name":"Feishu Credentials account"}}},{"parameters":{"resource":"other","operation":"other:aggregate:copyDataTableToBitable","app_toke":"={{ $('解析多维表格地址1').item.json.app_token }}","table_id":"={{ $('解析多维表格地址1').item.json.table_id }}","autoMapping":false,"fields":{"values":[{"field":"createdAt","feishuField":"测试A"},{"field":"updatedAt","feishuField":"测试B"}]}},"type":"CUSTOM.feishuNode","typeVersion":1,"position":[416,112],"id":"66bfece7-4ad8-47b4-ad03-0184dc5ff1ae","name":"导出多维表格","credentials":{"feishuCredentialsApi":{"id":"A4fAXv0HVBTUPQ0t","name":"Feishu Credentials account"}}},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"RwRcfTbNnY3cX15x","mode":"list","cachedResultName":"test","cachedResultUrl":"/projects/UdBTIh6UQ5IafQux/datatables/RwRcfTbNnY3cX15x"}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[128,112],"id":"cb79305e-0dac-46fb-9b13-ab2b731ad160","name":"获取datatable数据"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"解析多维表格地址","type":"main","index":0},{"node":"获取知识空间节点信息","type":"main","index":0},{"node":"测试授权","type":"main","index":0},{"node":"解析多维表格地址1","type":"main","index":0}]]},"解析多维表格地址":{"main":[[{"node":"新增记录","type":"main","index":0}]]},"新增记录":{"main":[[{"node":"删除记录","type":"main","index":0}]]},"获取知识空间节点信息":{"main":[[{"node":"获取电子表格信息","type":"main","index":0}]]},"获取电子表格信息":{"main":[[{"node":"获取工作表","type":"main","index":0}]]},"获取工作表":{"main":[[{"node":"简易写入数据","type":"main","index":0},{"node":"写入数据","type":"main","index":0}]]},"简易写入数据":{"main":[[{"node":"读取数据","type":"main","index":0}]]},"解析多维表格地址1":{"main":[[{"node":"获取datatable数据","type":"main","index":0}]]},"获取datatable数据":{"main":[[{"node":"导出多维表格","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true,"instanceId":"02b4f549b31e5afb7ac0434f27e8e1e51494096eb26622aff0d1c16686021c54"}}