微信自动发公众号.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "resource": "media",
        "operation": "media:uploadOther",
        "inputDataFieldName": "=data"
      },
      "type": "n8n-nodes-wechat-offiaccount.wechatOfficialAccountNode",
      "typeVersion": 1,
      "position": [
        336,
        496
      ],
      "id": "e9685394-6940-422e-b88d-afb499fcbb21",
      "name": "Media:uploadOther media",
      "credentials": {
        "wechatOfficialAccountCredentialsApi": {
          "id": "YSDvVSiwjct1NmGy",
          "name": "Wechat Official Account Credentials account 3"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/Users/linqun/Desktop/screenshot-20240212-145039.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        128,
        496
      ],
      "id": "ca4cbd6e-52b1-4074-972c-8399866ad416",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -192,
        496
      ],
      "id": "2a990850-1037-4a5a-a92e-2ca2cc5e38ef",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "draft:add",
        "articles": "=[{\n   \"article_type\":\"news\",\n   \"title\": \"每日一诗\",\n   \"content\": {{ JSON.stringify($('AI Agent').item.json.output)}},\n   \"thumb_media_id\": \"{{ $json.media_id }}\"\n}] "
      },
      "type": "n8n-nodes-wechat-offiaccount.wechatOfficialAccountNode",
      "typeVersion": 1,
      "position": [
        560,
        496
      ],
      "id": "9e32ceb2-25ff-46f0-a7c1-219fc8545520",
      "name": "Draft:add draft",
      "credentials": {
        "wechatOfficialAccountCredentialsApi": {
          "id": "YSDvVSiwjct1NmGy",
          "name": "Wechat Official Account Credentials account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32644d9d-cc91-4085-8dd9-4fa53eb4b7cb",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}，帮我生成html片段的公众号文章，排版美观，直接生成不要包含其他内容",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        496
      ],
      "id": "5ab8f919-1e38-4b41-9167-f2f0d653e5d6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -288,
        768
      ],
      "id": "187a835e-d1ad-4249-8967-fa3e44db86a3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PhJdeQpCU7ivsK8J",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -576,
        496
      ],
      "id": "72e680ed-9288-48a5-ad9c-19ed566957c1",
      "name": "When chat message received",
      "webhookId": "a3cf9403-4023-4ede-8abe-11300a452a55"
    }
  ],
  "pinData": {},
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Media:uploadOther media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Media:uploadOther media": {
      "main": [
        [
          {
            "node": "Draft:add draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "80fbef6e-1db7-41aa-abf2-05513bd6d9cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ddd29dd241f5846eceadb60f5b3678d36022ae084287381f23052c5aa933ec20"
  },
  "id": "TpC8dYLAVjNVSR2y",
  "tags": []
}