n8n_bugly/work_flow/bugly.json
{
  "name": "bugly",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        16
      ],
      "id": "48397ea8-67d3-408c-a1ee-d8ae3116d70a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "crashUrl": " https://bugly.qq.com/v2/crash-reporting/crashes/673b9cc5e2/3327?pid=1\n https://bugly.qq.com/v2/crash-reporting/crashes/673b9cc5e2/196149?pid=1\n https://bugly.qq.com/v2/crash-reporting/crashes/673b9cc5e2/187757?pid=1\n https://bugly.qq.com/v2/crash-reporting/crashes/673b9cc5e2/193781?pid=1\n https://bugly.qq.com/v2/crash-reporting/crashes/673b9cc5e2/197084?pid=1\n https://bugly.qq.com/v2/crash-reporting/crashes/673b9cc5e2/198075?pid=1\n https://bugly.qq.com/v2/crash-reporting/crashes/673b9cc5e2/195578?pid=1\n https://bugly.qq.com/v2/crash-reporting/crashes/673b9cc5e2/195576?pid=1\n https://bugly.qq.com/v2/crash-reporting/crashes/673b9cc5e2/197079?pid=1\n https://bugly.qq.com/v2/crash-reporting/crashes/673b9cc5e2/198073?pid=1\n https://bugly.qq.com/v2/crash-reporting/crashes/673b9cc5e2/197077?pid=1\n https://bugly.qq.com/v2/crash-reporting/crashes/673b9cc5e2/196138?pid=1\n https://bugly.qq.com/v2/crash-reporting/crashes/673b9cc5e2/196136?pid=1\n https://bugly.qq.com/v2/crash-reporting/crashes/673b9cc5e2/198071?pid=1\n https://bugly.qq.com/v2/crash-reporting/crashes/673b9cc5e2/168503?pid=1\n https://bugly.qq.com/v2/crash-reporting/crashes/673b9cc5e2/195258?pid=1\n https://bugly.qq.com/v2/crash-reporting/crashes/673b9cc5e2/196079?pid=1\n https://bugly.qq.com/v2/crash-reporting/crashes/673b9cc5e2/197013?pid=1\n https://bugly.qq.com/v2/crash-reporting/crashes/673b9cc5e2/198006?pid=1\n https://bugly.qq.com/v2/crash-reporting/crashes/673b9cc5e2/196045?pid=1\n https://bugly.qq.com/v2/crash-reporting/crashes/673b9cc5e2/196002?pid=1\n https://bugly.qq.com/v2/crash-reporting/crashes/673b9cc5e2/193923?pid=1\n https://bugly.qq.com/v2/crash-reporting/crashes/673b9cc5e2/194943?pid=1\n https://bugly.qq.com/v2/crash-reporting/crashes/673b9cc5e2/192841?pid=1\n https://bugly.qq.com/v2/crash-reporting/crashes/673b9cc5e2/193787?pid=1"
      },
      "type": "n8n-nodes-bugly.bugly",
      "typeVersion": 1,
      "position": [
        208,
        16
      ],
      "id": "91d30315-6c2f-4e5f-b7ce-fa8bcf0062b8",
      "name": "Bugly",
      "credentials": {
        "buglyApi": {
          "id": "D1s1Paaeu19xmIRM",
          "name": "Bugly account"
        }
      }
    },
    {
      "parameters": {
        "callStack": "={{ $json.data.crashMap.callStack }}",
        "symbolsRoot": "E:\\build2\\tools\\crash\\symbols",
        "soNameMap": "{\n  \"libunity.so\": {\n    \"arm64\": \"arm64-v8a/libunity.so\"\n  },\n  \"libil2cpp.so\": {\n    \"arm64\": \"arm64-v8a/libil2cpp.so\"\n  }\n}",
        "addr2linePath": "E:\\\\androidsdk\\\\ndk\\\\16.1.4479499\\\\toolchains\\\\aarch64-linux-android-4.9\\\\prebuilt\\\\windows-x86_64\\\\bin\\\\aarch64-linux-android-addr2line.exe",
        "readelfPath": "E:\\\\androidsdk\\\\ndk\\\\16.1.4479499\\\\toolchains\\\\aarch64-linux-android-4.9\\\\prebuilt\\\\windows-x86_64\\\\bin\\\\aarch64-linux-android-readelf.exe"
      },
      "type": "n8n-nodes-bugly.crashParse",
      "typeVersion": 1,
      "position": [
        384,
        16
      ],
      "id": "bc32c02b-e463-4999-81cc-77b2ddefa7bc",
      "name": "Crash Parse"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "JvxxsjkhdcBY8b4J",
          "mode": "list",
          "cachedResultName": "bugly",
          "cachedResultUrl": "/projects/Nf1opdx6fHm7jePF/datatables/JvxxsjkhdcBY8b4J"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "appId": "={{ $('Bugly').item.json.appId }}",
            "bundleId": "={{ $('Bugly').item.json.data.crashMap.bundleId }}",
            "cpuType": "={{ $('Bugly').item.json.data.crashMap.cpuType }}",
            "crashId": "={{ $('Bugly').item.json.data.crashMap.crashId }}",
            "issueId": "={{ $('Bugly').item.json.issueId }}",
            "crashTime": "={{ $('Bugly').item.json.data.crashMap.crashTime }}",
            "appVersion": "={{ $('Bugly').item.json.data.crashMap.productVersion }}",
            "crashStackSrc": "={{ $('Bugly').item.json.data.crashMap.callStack }}",
            "crashStack": "={{ $json.crash.frames }}",
            "url": "={{ $('Bugly').item.json.crashUrl }}",
            "logtxt": "=  {{ $('Bugly').item.json.data.detailMap.fileList[0].fileContent }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "appId",
              "displayName": "appId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bundleId",
              "displayName": "bundleId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cpuType",
              "displayName": "cpuType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "crashId",
              "displayName": "crashId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "issueId",
              "displayName": "issueId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "crashTime",
              "displayName": "crashTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "appVersion",
              "displayName": "appVersion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "crashStackSrc",
              "displayName": "crashStackSrc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "crashStack",
              "displayName": "crashStack",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "logtxt",
              "displayName": "logtxt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        736,
        16
      ],
      "id": "9c86c0cd-5d3b-4f7c-94c6-6d4cf2d3e20e",
      "name": "Insert row"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "JvxxsjkhdcBY8b4J",
          "mode": "list",
          "cachedResultName": "bugly",
          "cachedResultUrl": "/projects/Nf1opdx6fHm7jePF/datatables/JvxxsjkhdcBY8b4J"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "crashId",
              "keyValue": "={{ $('Bugly').item.json.data.crashMap.crashId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        560,
        16
      ],
      "id": "2cab9bc2-a1cb-4e18-ab7a-f8c8e74417f2",
      "name": "If row does not exist"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Bugly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bugly": {
      "main": [
        [
          {
            "node": "Crash Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crash Parse": {
      "main": [
        [
          {
            "node": "If row does not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row does not exist": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "dc9c3a2f-f7be-4074-a9cf-acad56e4f9bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10632c0121cbee6ec79e0c57073a02f9d1ea757f302d57f377c92926266100d5"
  },
  "id": "-0BL4GLdUs_NlbhyIjn3V",
  "tags": []
}