n8n_bugly/work_flow/bugly.json
{
  "name": "bugly",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        16,
        -96
      ],
      "id": "48397ea8-67d3-408c-a1ee-d8ae3116d70a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "debug": true,
        "mode": "manual"
      },
      "type": "n8n-nodes-bugly.bugly",
      "typeVersion": 1,
      "position": [
        240,
        -144
      ],
      "id": "91d30315-6c2f-4e5f-b7ce-fa8bcf0062b8",
      "name": "Bugly",
      "credentials": {
        "buglyApi": {
          "id": "D1s1Paaeu19xmIRM",
          "name": "Bugly account"
        }
      }
    },
    {
      "parameters": {
        "callStack": "={{ $json.data.crashMap.callStack }}",
        "symbolsRoot": "E:\\build2\\tools\\crash\\symbols",
        "appversion": "={{ $json.data.crashMap.productVersion }}",
        "pakageName": "={{ $json.data.crashMap.bundleId }}",
        "soNameMapForm": {
          "rows": [
            {
              "packageName": "com.arkgames.msxycnhy",
              "version": "1.108.26011302",
              "soName": "libunity.so",
              "arm64Path": "arm64-v8a/libunity.so"
            },
            {
              "packageName": "com.arkgames.msxycnhy",
              "version": "1.108.26011302",
              "soName": "libil2cpp.so",
              "arm64Path": "arm64-v8a/libil2cpp.so"
            }
          ]
        },
        "addr2linePath": "E:\\\\androidsdk\\\\ndk\\\\16.1.4479499\\\\toolchains\\\\aarch64-linux-android-4.9\\\\prebuilt\\\\windows-x86_64\\\\bin\\\\aarch64-linux-android-addr2line.exe",
        "readelfPath": "E:\\\\androidsdk\\\\ndk\\\\16.1.4479499\\\\toolchains\\\\aarch64-linux-android-4.9\\\\prebuilt\\\\windows-x86_64\\\\bin\\\\aarch64-linux-android-readelf.exe"
      },
      "type": "n8n-nodes-bugly.crashParse",
      "typeVersion": 1,
      "position": [
        464,
        -176
      ],
      "id": "bc32c02b-e463-4999-81cc-77b2ddefa7bc",
      "name": "Crash Parse"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "JvxxsjkhdcBY8b4J",
          "mode": "list",
          "cachedResultName": "bugly",
          "cachedResultUrl": "/projects/Nf1opdx6fHm7jePF/datatables/JvxxsjkhdcBY8b4J"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "appId": "={{ $('Bugly').item.json.appId }}",
            "bundleId": "={{ $('Bugly').item.json.data.crashMap.bundleId }}",
            "cpuType": "={{ $('Bugly').item.json.data.crashMap.cpuType }}",
            "crashId": "={{ $('Bugly').item.json.data.crashMap.crashId }}",
            "issueId": "={{ $('Bugly').item.json.issueId }}",
            "crashTime": "={{ $('Bugly').item.json.data.crashMap.crashTime }}",
            "appVersion": "={{ $('Bugly').item.json.data.crashMap.productVersion }}",
            "crashStackSrc": "={{ $('Bugly').item.json.data.crashMap.callStack }}",
            "crashStack": "={{ $json.crash.frames }}",
            "url": "={{ $('Bugly').item.json.crashUrl }}",
            "logtxt": "={{ $('Bugly').item.json.data.detailMap['log.txt'] }}",
            "crash_type": "={{ $('Bugly').item.json.data.crashMap.type }}",
            "expname": "={{ $('Bugly').item.json.data.crashMap.expName }}",
            "expmessage": "={{ $('Bugly').item.json.data.crashMap.expMessage }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "appId",
              "displayName": "appId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bundleId",
              "displayName": "bundleId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cpuType",
              "displayName": "cpuType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "crashId",
              "displayName": "crashId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "issueId",
              "displayName": "issueId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "crashTime",
              "displayName": "crashTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "appVersion",
              "displayName": "appVersion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "crashStackSrc",
              "displayName": "crashStackSrc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "crashStack",
              "displayName": "crashStack",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "logtxt",
              "displayName": "logtxt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "crash_type",
              "displayName": "crash_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "expname",
              "displayName": "expname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "expmessage",
              "displayName": "expmessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        816,
        -160
      ],
      "id": "9c86c0cd-5d3b-4f7c-94c6-6d4cf2d3e20e",
      "name": "Insert row"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "JvxxsjkhdcBY8b4J",
          "mode": "list",
          "cachedResultName": "bugly",
          "cachedResultUrl": "/projects/Nf1opdx6fHm7jePF/datatables/JvxxsjkhdcBY8b4J"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "={{ $('Bugly').item.json.data.crashMap.processName }}",
              "keyValue": "={{ $('Bugly').item.json.data.crashMap.crashId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        640,
        -144
      ],
      "id": "2cab9bc2-a1cb-4e18-ab7a-f8c8e74417f2",
      "name": "If row does not exist"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "JvxxsjkhdcBY8b4J",
          "mode": "list",
          "cachedResultName": "bugly",
          "cachedResultUrl": "/projects/Nf1opdx6fHm7jePF/datatables/JvxxsjkhdcBY8b4J"
        },
        "filters": {
          "conditions": [
            {
              "condition": "gt",
              "keyValue": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        352,
        48
      ],
      "id": "e28874f5-2dc6-4129-a17f-b706e47c1f33",
      "name": "Delete row(s)"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Bugly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bugly": {
      "main": [
        [
          {
            "node": "Crash Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crash Parse": {
      "main": [
        [
          {
            "node": "If row does not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row does not exist": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7f992fe0-c20f-4928-9724-b62df9550196",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10632c0121cbee6ec79e0c57073a02f9d1ea757f302d57f377c92926266100d5"
  },
  "id": "-0BL4GLdUs_NlbhyIjn3V",
  "tags": []
}